html, body {
  margin: 0;
  height: 100%
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 237, 221);
}

.verse {
  position: relative;
  top: -5%;
  white-space: pre-wrap;
  align-self: center;
  line-height: 44px;
  font-family: 'PT Serif', serif;
  font-size: 32px;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: rgb(40, 41, 35);
  }

  .verse {
    color: rgb(245, 237, 221);
  }
}
